apiVersion: v1
kind: Pod
metadata:
  generateName: sglang-
  namespace: default
spec:
  runtimeClassName: cedana
  containers:
    - name: dgtest-sglang
      image: lmsysorg/sglang:v0.5.7-cu129-amd64
      imagePullPolicy: Always
      command:
        - python3
        - -m
        - sglang.launch_server
        - --model-path
        - meta-llama/Llama-3.1-8B
        - --host
        - 0.0.0.0
        - --port
        - "8000"
        - --log-level
        - debug
      env:
        - name: DEPLOY_VALUE
          value: "1"
        - name: TMPDIR
          value: "/dev/shm/torch_cache"
        - name: TORCHDYNAMO_VERBOSE
          value: "1"
        - name: HF_HOME
          value: /data/huggingface
        - name: HF_HUB_DISABLE_XET
          value: "1"
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token-secret
              key: HF_TOKEN
      resources:
        limits:
          nvidia.com/gpu: 1
        requests:
          nvidia.com/gpu: 1

      volumeMounts:
        - mountPath: /dev/shm
          name: devshm

      securityContext:
        capabilities:
          add: ["IPC_LOCK"]

      ports:
        - containerPort: 8888

  volumes:
    - name: devshm
      emptyDir:
        sizeLimit: 200Gi
        medium: Memory
        
