apiVersion: v1
kind: Pod
metadata:
  name: jupyter-test
  namespace: default
spec:
  runtimeClassName: cedana
  restartPolicy: Never
  containers:
    - name: jupyter
      image: quay.io/jupyter/pytorch-notebook:latest
      env:
        - name: JUPYTER_TOKEN
          value: "test-token-123"
      command:
        - /bin/bash
        - -c
        - |
          jupyter lab \
            --ip=0.0.0.0 \
            --port=8888 \
            --no-browser \
            --allow-root \
            --ServerApp.token="${JUPYTER_TOKEN}" \
            --ServerApp.password='' \
            --ServerApp.allow_origin='*'
      ports:
        - containerPort: 8888
          name: jupyter
      resources:
        limits:
          nvidia.com/gpu: 1
